# Dependencies
node_modules/
package-lock.json

# Environment variables
.env
.env.local

# IDE
.vscode/
.idea/
*.sublime-*

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Testing
coverage/

# Production build
build/
dist/

# Misc
.DS_Store
Thumbs.db

.cache/
